<?xml version="1.0" encoding="utf-8" ?>


<configuration>
  <connectionStrings>
    <add name="MaterialDbEntities" connectionString="metadata=res://*/Models.MaterialModel.csdl|res://*/Models.MaterialModel.ssdl|res://*/Models.MaterialModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SqlExpress;initial catalog=MaterialDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>